/ {
    aliases {
        vesc-uart = &lpuart1;
        vn100s = &vn100s;
    };
};

&spi1 {
    pinctrl-0 = <&spi1_sck_pa5 &spi1_miso_pa6 &spi1_mosi_pb5>;
    pinctrl-names = "default";
    cs-gpios = <&gpiod 14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    status = "okay";

    vn100s: vn100s@0 {
        compatible = "vectornav,vn100s";
        reg = <0>;
        status = "okay";
        spi-max-frequency = <1000000>;
        duplex = <0>;
        frame-format = <0>;
    };
};
