&mac {
	status = "okay";
	pinctrl-0 = <&eth_mdc_pc1 &eth_mdio_pa2 &eth_rxd0_pc4 &eth_rxd1_pc5
		     &eth_tx_en_pg11 &eth_txd0_pg13 &eth_txd1_pb13
		     &eth_rx_dv_pa7 &eth_ref_clk_pa1>;
	pinctrl-names = "default";
	phy-handle = <&phy0>;
};

&mdio {
	status = "okay";
	pinctrl-0 = <&eth_mdc_pc1 &eth_mdio_pa2>;
	pinctrl-names = "default";

	phy0: ethernet-phy@0 {
		compatible = "ethernet-phy";
		reg = <0>;
		status = "okay";
	};
};

/* Enable SPI1 and attach the ICM20948 */
&spi1 {
	status = "okay";

	icm20948: icm20948@0 {
		compatible = "invensense,icm20948";
		reg = <0>;
		status = "okay";

		/* SPI parameters required by SPI_DT_SPEC_GET */
		spi-max-frequency = <1000000>;   /* 1 MHz */

		/* numeric values so we don't need #include in overlay */
		duplex = <0>;                    /* 0 = SPI_FULL_DUPLEX */
		frame-format = <0>;              /* 0 = SPI_FRAME_FORMAT_MOTOROLA */
		spi-interframe-delay-ns = <0>;   /* no extra delay */

		/* Adjust to your actual CS pin */
		cs-gpios = <&gpioa 4 GPIO_ACTIVE_LOW>;
	};
};
