/ {
    chosen {
        zephyr,code-partition = &slot0_partition;
    };
};

&flash0 {
    reg = <0x08000000 DT_SIZE_K(2048)>;
    ranges = <0 0x08000000 DT_SIZE_K(2048)>;

    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        boot_partition: partition@0 {
            label = "mcuboot";
            reg = <0x00000000 0x00020000>;
            read-only;
        };

        slot0_partition: partition@20000 {
            label = "image-0";
            reg = <0x00020000 0x00060000>;
        };

        slot1_partition: partition@100000 {
            label = "image-1";
            reg = <0x00100000 0x00080000>;
        };
    };
};
